
.idea
./user_service/api/config.json
./user_service/api/package-lock.json
./user_service/api/dist
./user_service/api/node_modules
./user_service/api/.env

./gateway_service/api/config.json
./gateway_service/api/package-lock.json
./gateway_service/api/dist
./gateway_service/api/node_modules
./gateway_service/api/.env